/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
} 
 
/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}

body {
     display: flex;
     font-family: 'Roboto', sans-serif;
     width: 100%;
}  


/******************************************
/* LAYOUT
/*******************************************/
/* header {
     /* width: 100%; */
     display: flex;
} */

/* nav {
     box-sizing: border-box;
     float: left;
     margin: 0 ;
     width: 100%;
     font-size: 1.5rem;
     border: 1px dotted black;
} */

/* sidebar nav*/
nav {
     display: flex;
     width: 25%;
     flex-direction: column;
     justify-content: space-between;
     padding: 10px;
}

ul {
     list-style-type: none;
     font-size: 2rem;
}

li {
     text-decoration: none;
     padding: 5px;
}


/* main .clear {
} */


main {
     display: flex;
     width: 75%;
}

.abt {
     display: flex;
     justify-content: flex-end;
}
p {
     font-size: 2rem;
     justify-content: flex-end;
     padding: 10px 30px; 
}

img.sketch {
     flex: 0 1 auto;
     /* border: 1px dotted black;
     border-radius: 5px; */
     width: 40%;
     justify-content: right;
     /* float: right; */
     

}

h1.logo {
     flex: 0 1 auto;
     width: 35%;
     font-size: 4rem;
     /* border: 1px dotted black; 
     border-radius: 5px;*/
     justify-content: left;
     align-content: center;
     /* float: right; */
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
